.title{
    text-align: center;
}

.imgPokemon{
    display: block;
    margin: auto;
    text-align: center;
}

.namePokemon{
    
}
.numberPokemon{
    
}

.inputPokemon{
    text-align: center;
    display: block;
    margin: auto;
}
.typePokemon{
    
}

.wrapper{
    margin: auto;
    width: 1000px;
}

.classPokemon{
    text-align: center;
}